{% extends "base.html" %} {% block title %} Главная страница {% endblock %} {% block content %}
<div class="homepage">
    <div class="homepage__container">
        <div class="homepage__content">
            <div class="homepage__text">
                Татарская Онлайн Библиотека,
            </div>
            <div class="homepage__text">
                учите татарский вместе с нами!
            </div>
            <div style="margin-top: 2%;">
                <a class="button1 button" href="/books_and_texts/0">
                    Начать
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}