{% extends "base.html" %} {% block content %}

<div class="translate">
    <div class="translate__container">
        <form action="" method="post">
            <p class="translate__question">Выберите правильный перевод для слова:</p>
            <p class="translate__question">{{ question }}</p>
            <div class="translate__answers">
                {% for answer in answers %}
                <div class="translate__radio">
                    <input id="option{{ loop.index }}" class="translate__answer" type="radio" name="radio" value={{answer[1]}}>
                    <label for="option{{ loop.index }}" class="radio-label">
                    <p class="translate__answer__value">{{ answer[0] }}</p>
                </div>
                {% endfor %}
            </div>
            <input type="submit" value="Далее" name="next" class="button training__button" />
        </form>
    </div>
</div>

{% endblock %}