{% extends "base.html" %} {% block content %}
<div class="training3">
    <div class="training3__container setting_container">
        <div class="training3__content">
            <form action="" method="post" role="form" novalidate class="training3__form">
                <label class="training3__margin">{{question}}</label>
                <input class="training3__margin" type="text" id="user_answer" placeholder="ответ" name="user_answer" autocomplete="off">
                <input class="submit_btn" type="submit" value="Далее" name="next" />
            </form>
        </div>
    </div>
</div>


{% endblock %}