{% extends "base.html" %} {% block content %}

<div class="container">
    <form action="" method="post" novalidate role="form">
        <figure>
            <figcaption>угадайте слово</figcaption>
            <audio controls src="../static/{{aud}}" type="audio/wav">
                Your browser does not support the
                <code>audio</code> element.
            </audio>
        </figure>
        <div class="question">{{ question }}</div>
        {% for answer in answers %}
        <input class="answer" type="radio" name="options" id="option{{ loop.index }}" value={{answer[1]}}> {{ answer[0] }}
        <br>
        {% endfor %}
        <input type="submit" value="Далее" name="next"/>
    </form>
</div>

{% endblock %}